<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.bluewhale.mapper.ArticleMapper">
    <!--
      定义实体属性和数据库字段之间映射对应关系
      jdbcType属性：org.apache.ibatis.type.JdbcType类中定义的枚举，需要大写
  -->
    <!--<resultMap id="BaseResultMap" type="com.qs.bluewhale.entity.Article">-->
        <!--<id column="article_id" property="articleId" jdbcType="VARCHAR"/>-->
        <!--<result column="title" property="title" jdbcType="VARCHAR"/>-->
        <!--<result column="author" property="author" jdbcType="VARCHAR"/>-->
        <!--<result column="status" property="status" jdbcType="VARCHAR"/>-->
        <!--<result column="personal_flag" property="personalFlag" jdbcType="VARCHAR"/>-->
        <!--<result column="content" property="content" jdbcType="BLOB"/>-->
        <!--<result column="preview_content" property="previewContent" jdbcType="BLOB"/>-->
        <!--<result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>-->
        <!--<result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>-->
        <!--<result column="create_by" property="createBy" jdbcType="VARCHAR"/>-->
        <!--<result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR"/>-->
    <!--</resultMap>-->

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        article_id,
        title,
        author,
        status,
        personal_flag,
        content,
        preview_content,
        create_time,
        create_by,
        last_modify_time,
        last_modify_by
    </sql>
</mapper>