<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.bluewhale.mapper.UserRoleMapper">

    <resultMap id="BaseResultMap" type="com.qs.bluewhale.entity.UserRole">
        <id column="user_role_id" property="userRoleId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="role_id" property="roleId" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="DATE"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="DATE"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="last_modify_by" property="lastModifyBy" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_role_id,
        user_id,
        role_id,
        create_time,
        create_by,
        last_modify_time,
        last_modify_by
    </sql>

    <select id="getRoleIdsByUserId" parameterType="String" resultType="String">
        select role_id
        from t_bw_user_role
        where user_id = #{userId}
    </select>

    <select id="getRoleNamesByUserName" parameterType="String" resultType="String">
        select r.role_name
        from t_bw_role r
                 inner join t_bw_user_role ur on ur.role_id = r.role_id
                 inner join t_bw_user u on u.user_id = ur.user_id
        where u.user_name = #{userName};
    </select>

    <!--插入sql语句-->
    <insert id="saveUserRole" parameterType="com.qs.bluewhale.entity.UserRole">
        insert into t_bw_user_role(user_role_id,user_id,role_id)
        values (#{userRoleId},#{userId},#{roleId})
    </insert>

</mapper>